@model FitFalMVC.Application.ViewModels.PostVmDirector.PostDetailVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="post-details">
    <div>
        @if (Model.Image != null && Model.Image.Length > 0)
        {
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" 
                 alt="Image" 
                 style="width: 100%; max-width: 600px; height: auto;"/>
        }
    </div>
    <div>
        <h2>@Html.DisplayFor(model => model.Title)</h2>
    </div>
    <div>
        @Html.Raw(Model.Content)
    </div>
</div>





@* @model FitFalMVC.Application.ViewModels.PostVmDirector.PostDetailVm *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* *@
@* <div class="post-details"> *@
@*     <div> *@
@*         <td> *@
@*             @if (Model.Image != null && Model.Image.Length > 0) *@
@*             { *@
@*                 <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))"  *@
@*                      alt="Image"  *@
@*                      style="width: 100%; max-width: 600px; height: auto;"/> *@
@*             } *@
@*         </td> *@
@*     </div> *@
@*     <div> *@
@*         <h2> @Html.DisplayFor(model => model.Title)</h2> *@
@*         $1$ @Html.DisplayFor(model => model.Title) #1# *@
@*     </div> *@
@*     <div> *@
@*         $1$ <th>Treść:</th> #1# *@
@*         @Html.DisplayFor(exercise => exercise.Content) *@
@*     </div> *@
@* *@
@* </div> *@