@model FitFalMVC.Application.ViewModels.ProductVmDirector.ListProductForListVM

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table>
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelProduct=>product.Id)
            </td>
        
            <td>
                @Html.DisplayFor(modelProduct=>product.Name)
            </td>
            @*<td>
           @Html.ActionLink("Edit","Edit",new {id=product.Id})|
           @Html.ActionLink("Details","Details",new {id=product.Id})|
           @Html.ActionLink("Delete","Delete",new {id=product.Id})
    </td>*@
        </tr>
    }
    </tbody>
</table>

