@using FitFalMVC.Domain.Model
@using FitFalMVC.Application.Services
@model FitFalMVC.Application.ViewModels.MealVmDirector.ListProductsInMealVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>


<table class="table">
    <thead>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Kalorie
        </th>
        <th>
            Białko
        </th>
        <th>
            Tłuszcz
        </th>
        <th>
            Węglowodany
        </th>
        
        <th></th>
    </tr>
    </thead>
    <tbody>
     @foreach (var product in Model.Products)
                {
                    <tr>
    
                        <td>
                            @Html.DisplayFor(modelProduct=>product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelProduct=>product.Calories)
                        </td>
                        <td>
                            @Html.DisplayFor(modelProduct=>product.Protein)
                        </td>
                        <td>
                            @Html.DisplayFor(modelProduct=>product.Fat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelProduct=>product.Carbohydrates)
                        </td>
                        

                    </tr>
                }
    </tbody>
</table>
