@model FitFalMVC.Application.ViewModels.MealVmDirector.ListMealsForListVm

@{
    ViewBag.Title = "Baza produktów";
    Layout = "_Layout";
}

<h1>Baza produktów</h1>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
$(function () {
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
            $("#dayofeatingId").val(dateText);
            window.location.href = "/Meal/Index?selectedDate=" + dateText;
        }              
    });   
    
                var selectedDateFromQueryString = new URLSearchParams(window.location.search).get('selectedDate');
                if (selectedDateFromQueryString) {
                    $("#dayofeatingId").val(selectedDateFromQueryString);
                }
    
    $("#createMealPlanBtn").click(function () {
       var selectedDate = $("#dayofeatingId").val();
        window.location.href = "/Meal/AddMealsToDay?selectedDate=" + selectedDate;
    });
});

</script>
}

@using (Html.BeginForm("AddMealsToDay", "Meal", FormMethod.Post))
{
     <label for="datepicker">Wybierz datę:</label>
     <input id="dayofeatingId" name="selectedDate" type="text" class="datepicker" />
     <button type="button" id="createMealPlanBtn">Stwórz jadłospis</button>
}


<form asp-action="Index" asp-controller="Meal" method="post">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var meal in Model.Meals)
                {
                    <tr>
                        <td>@meal.Data.ToString("yyyy-MM-dd")
                        @Html.DisplayFor(modelProduct => meal.Name)</td>
                        <td>
                            @* @Html.DisplayFor(modelProduct => meal.Name) *@
                            @Html.ActionLink("Dodaj produkt", "ListOfProduct", new { mealId = meal.Id })

                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <details>
                                <summary>Produkty w posiłku</summary>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Kalorie</th>
                                        <th>Białko</th>
                                        <th>Tłuszcz</th>
                                        <th>Węglowodany</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    @foreach (var product in meal.Products)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelProduct => product.Name)</td>
                                            <td>@Html.DisplayFor(modelProduct => product.Calories)</td>
                                            <td>@Html.DisplayFor(modelProduct => product.Protein)</td>
                                            <td>@Html.DisplayFor(modelProduct => product.Fat)</td>
                                            <td>@Html.DisplayFor(modelProduct => product.Carbohydrates)</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </details>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
