@model FitFalMVC.Application.ViewModels.MealVmDirector.ListMealsForListVm

@{
    ViewBag.Title = "Baza produktów";
    Layout = "_Layout";
}

<h1>Baza produktów</h1>

<form asp-action="Index" asp-controller="Meal" method="post">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var meal in Model.Meals)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelProduct => meal.Name)
                            @Html.ActionLink("Dodaj produkt", "ListOfProduct", new { mealId = meal.Id })

                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <details>
                                <summary>Produkty w posiłku</summary>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Kalorie</th>
                                        <th>Białko</th>
                                        <th>Tłuszcz</th>
                                        <th>Węglowodany</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    @foreach (var product in meal.Products)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelProduct => product.Name)</td>
                                            <td>@Html.DisplayFor(modelProduct => product.Calories)</td>
                                            <td>@Html.DisplayFor(modelProduct => product.Protein)</td>
                                            <td>@Html.DisplayFor(modelProduct => product.Fat)</td>
                                            <td>@Html.DisplayFor(modelProduct => product.Carbohydrates)</td>
                                        </tr>
                                    }
                                    </tbody>
                                    <td>
                                        @Html.ActionLink("Dodaj produkt", "ListOfProduct", new { mealId = meal.Id })
                                    </td>
                                    
                                </table>
                            </details>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
