@using FitFalMVC.Domain.Model
@model FitFalMVC.Application.ViewModels.ProductVmDirector.ListProductForListVM


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form asp-action="ListOfProduct" asp-controller="Meal" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString"/>
        <input type="submit" value="Wyszukaj"/>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                     <td>
                   @Html.TextBox("quantity", null, new { placeholder = "Ilość gram", type = "number",id = "quantityField" })
                   </td>
            @foreach (var product in Model.Products)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelProduct => product.Name)
                    </td>

                    <td>
                        <a href="#" onclick="addProductToMeal(@product.Id)">Dodaj product do posiłku</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
            
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo"></input>
        <input type="hidden" name="pageSize" id="pageSize" value="2"></input>
        <input type="hidden" name="mealId" value="@TempData["MealId"]" />



    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNo").value=index;
            document.forms[0].submit();
        }
    </script>
}

<script type="text/javascript">
        function addProductToMeal(productId) {
            var quantity = document.getElementById("quantityField").value;
            var mealId = "@TempData["MealId"]";
            var url = "/Meal/AddProductToMeal?productId=" + productId + "&mealId=" + mealId + "&quantity=" + quantity;
            window.location.href = url;
        }

        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
</script>

