@using FitFalMVC.Application.ViewModels.ProductVmDirector
@model FitFalMVC.Application.ViewModels.ProductVmDirector.ProductDetailVm

@{
    ViewBag.Title = "Szczegóły";
    Layout = "_Layout";
}

<h2>Szczegóły</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nazwa</th>
                <th>Kalorie (kcal)</th>
                <th>Białko (g)</th>
                <th>Tłuszcz (g)</th>
                <th>Węglowodany (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelNv => modelNv.Name)</td>
                <td>@Html.DisplayFor(modelNv => modelNv.Calories) kcal</td>
                <td>@Html.DisplayFor(modelNv => modelNv.Protein) g</td>
                <td>@Html.DisplayFor(modelNv => modelNv.Fat) g</td>
                <td>@Html.DisplayFor(modelNv => modelNv.Carbohydrates) g</td>
            </tr>
        </tbody>
    </table>
</div>





@* @using FitFalMVC.Application.ViewModels.ProductVmDirector *@
@* @model FitFalMVC.Application.ViewModels.ProductVmDirector.ProductDetailVm *@
@* *@
@* *@
@* @{ *@
@*     ViewBag.Title = "Szczegóły"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* <h2>Szczegóły</h2> *@
@* *@
@* *@
@* *@
@* <table class="table"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th> *@
@*             Nazwa *@
@*         </th> *@
@*         <th> *@
@*             Kalorie(kcal) *@
@*         </th> *@
@*         <th> *@
@*             Białko(g) *@
@*         </th> *@
@*         <th> *@
@*             Tłuszcz(g) *@
@*         </th> *@
@*         <th> *@
@*             Węglowodany(g) *@
@*         </th> *@
@*          *@
@*         <th></th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*      *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelNv=>modelNv.Name) *@
@*             </td> *@
@*          *@
@*             <td> *@
@*                 @Html.DisplayFor(modelNv=>modelNv.Calories)kcal *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelNv=>modelNv.Protein)g *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelNv=>modelNv.Fat)g *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelNv=>modelNv.Carbohydrates)g *@
@*             </td> *@
@*              *@
@*             <td> *@
@*             </td> *@
@*         </tr> *@
@*      *@
@*     </tbody> *@
@* </table> *@
