@model FitFalMVC.Application.ViewModels.ExerciseVmDirector.ListExerciseForListVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form asp-action="AddExercise" asp-controller="Workout" method="post">
    <div class="row">
        <select id="exerciseList" name="exerciseId">
            <option value="">Wybierz ćwiczenie</option>
            @foreach (var exercise in Model.ExerciseForListVms)
            {
                <option value="@exercise.Id">@exercise.Name</option>
            }
        </select>
        <input name="sets" type="number" placeholder="Ilość serii" />
        <input name="reps" type="number" placeholder="Ilość powtórzeń" />
        <input name="weight" type="number" placeholder="Ciężar" />

        <button type="submit">Dodaj ćwiczenie</button>
    </div>
</form>




@* @model FitFalMVC.Application.ViewModels.ExerciseVmDirector.ListExerciseForListVm *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* <h2>title</h2> *@
@* <form asp-action="AddExercise" asp-controller="Workout" method="post"> *@
@*     <div class="row"> *@
@*         <select id="exerciseList" onchange="updateLink()"> *@
@*             <option value="">Wybierz ćwiczenie</option> *@
@*             @foreach (var exercise in Model.ExerciseForListVms) *@
@*             { *@
@*                 <option value="@exercise.Id">@exercise.Name</option> *@
@*             } *@
@*         </select> *@
@*         @Html.TextBox("sets", null, new { placeholder = "Ilość serii", type = "number", id = "setsField" }) *@
@*         @Html.TextBox("reps", null, new { placeholder = "Ilość powtórzeń", type = "number", id = "repsField" }) *@
@*         @Html.TextBox("weight", null, new { placeholder = "Cieżar", type = "number", id = "weightField" }) *@
@* *@
@*         <button id="addExerciseButton" type="button" onclick="addExerciseToWorkout()">Dodaj ćwiczenie</button> *@
@* *@
@*         $1$ <a id="addExerciseLink" href="#" onclick="addExerciseToWorkout()">Dodaj ćwiczenie</a> #1# *@
@*     </div> *@
@* *@
@* </form> *@
@* *@
@* @section Scripts *@
@* { *@
@*     <script type="text/javascript"> *@
@*         function updateLink() { *@
@*             var exerciseId = document.getElementById("exerciseList").value; *@
@*             var addExerciseLink = document.getElementById("addExerciseLink"); *@
@*             if (exerciseId !== "") { *@
@*                 addExerciseLink.href = "/Workout/AddExerciseToWorkout?workoutId=@TempData["WorkoutId"]&exerciseId=" + exerciseId+ "&sets=" + sets + "&reps=" + reps+ "&weight=" + weight; *@
@*             } else { *@
@*                 addExerciseLink.href = "#"; // Jeśli nie wybrano żadnego ćwiczenia, link jest nieaktywny *@
@*             } *@
@*         } *@
@* *@
@*         function addExerciseToWorkout() { *@
@*             var sets = document.getElementById("setsField").value; *@
@*             var reps = document.getElementById("repsField").value; *@
@*             var weight = document.getElementById("weightField").value; *@
@*             var exerciseId = document.getElementById("exerciseList").value;  *@
@*             var workoutId = "@TempData["WorkoutId"]";  *@
@*             if (exerciseId !== "" && workoutId !== "" && sets !== "" && reps !== "") { *@
@*                 var url = "/Workout/AddExerciseToWorkout?workoutId=" + workoutId + "&exerciseId=" + exerciseId + "&sets=" + sets + "&reps=" + reps + "&weight=" + weight; *@
@*                 window.location.href = url; *@
@*             } else { *@
@*                 alert("Wybierz ćwiczenie z listy."); *@
@*             } *@
@*         } *@
@*     </script> *@
@* } *@