@using FitFalMVC.Domain.Model
@using FitFalMVC.Application.ViewModels.MealVmDirector
@model FitFalMVC.Application.ViewModels.WorkoutVmDirector.WorkoutDetailVm

@{
    ViewBag.Title = "Dziennik treningowy";
    Layout = "_Layout";
}

<h1>Dziennik treningowy</h1>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
$(function () {
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
            $("#workoutDayId").val(dateText);
            window.location.href = "/Workout/Index?selectedDate=" + dateText;
        }              
    });   
    
                var selectedDateFromQueryString = new URLSearchParams(window.location.search).get('selectedDate');
                if (selectedDateFromQueryString) {
                    $("#workoutDayId").val(selectedDateFromQueryString);
                }
    
    $("#createtreningPlanBtn").click(function () {
       var selectedDate = $("#workoutDayId").val();
       var description = $("#workoutDes").val(); 
       window.location.href = "/Workout/AddWorkoutToDay?selectedDate=" + selectedDate + "&description=" + description;
    });
});

</script>
}

@using (Html.BeginForm("AddWorkoutToDay", "Workout", FormMethod.Post))
{
    <label for="datepicker">Wybierz datę:</label>
    <input id="workoutDayId" name="selectedDate" type="text" class="datepicker"/>
    <label>Rodzaj treningu:</label>
    <input id="workoutDes" name="description" type="text"/>
    <button type="button" id="createtreningPlanBtn">Stwórz dzień treningowy</button>
}


<form asp-action="Index" asp-controller="Workout" method="post">
    <div class="row">
        <table>
            <td>Rodzaj treningu: @Model.Description</td>
            <td>Data: @(Model.StartWorkout != null && Model.StartWorkout != DateTime.MinValue ? Model.StartWorkout.ToShortDateString() : "")</td>
        </table>
        <button type="button" onclick="location.href='@Url.Action("AddExercise", new { workoutId = Model.Id })'">Dodaj ćwiczenie</button>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa ćwiczenia</th>
                <th>Serie</th>
                <th>Powtórzenia</th>
                <th>Ciężar</th>
            </tr>
            </thead>
            <tbody>

            @if (Model.Exercises == null || !Model.Exercises.Any())
            {
                <tr>
                    <td colspan="3">Brak ćwiczeń</td>
                </tr>
            }
            else
            {
                @foreach (var exercise in Model.Exercises)
                {
                    <tr>
                        <td>@exercise.Name</td>
                        <td>@exercise.Sets</td>
                        <td>@exercise.Reps</td>
                        <td>@exercise.Weight</td>
                        <td>
                            @Html.ActionLink("Edytuj","EditExercise",new {exerciseId=exercise.Id,workoutId=Model.Id})|
                            @Html.ActionLink("Szczegóły", "Details", new { id = exercise.Id })|
                            @Html.ActionLink("Usuń", "Delete", new { id = exercise.Id })
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

</form>