@using FitFalMVC.Application.ViewModels.Calculator
@model FitFalMVC.Application.ViewModels.Calculator.Calculator

@{
    ViewBag.Title = "CPM - Całkowita przemiana materii";
    Layout = "_Layout";
}

<h1>CPM - Całkowita przemiana materii</h1>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="Gender" class="control-label"></label>
        <select id="GenderList" name="Gender" class="form-control">
            <option value="">Wybierz płeć</option>
            @foreach (var gender in Model.Genders)
            {
                <option value="@gender">@gender</option>
            }
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
<div class="form-group">
        <label asp-for="Age" class="control-label">Wiek</label>
        <input asp-for="Age" class="form-control"/>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    
    
    <div class="form-group">
        <label asp-for="Weight" class="control-label">Waga</label>
        <input asp-for="Weight" class="form-control"/>
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Height" class="control-label">Wzrost</label>
        <input asp-for="Height" class="form-control"/>
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Goal" class="control-label"></label>
        <select id="GoalList" name="Goal" class="form-control">
            <option value="">Wybierz cel</option>
            @foreach (var goal in Model.Goals)
            {
                <option value="@goal">@goal</option>
            }
        </select>
        <span asp-validation-for="Goal" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Pal" class="control-label"></label>
        <select id="PalList" name="Pal" class="form-control">
            <option value="">Wybierz współczynnik aktywności</option>
            @foreach (var pal in Model.Pals)
            {
                <option value="@pal">@pal</option>
            }
        </select>
        <span asp-validation-for="Pal" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Oblicz CPM" class="btn btn-primary"/>
    </div>
    
    
    
    
</form>

@if (Model.CPM.HasValue)
{
    <h2>Twoja całkowita przemiana materii (CPM): @Model.CPM.Value.ToString("F0")kcal</h2>
}